[2019-02-04 22:25] pkieltyka opened #1 "IDL for webrpc schema"
save this one for v2, but some ideas below.

for v1, we will just use a json file like: https://github.com/webrpc/webrpc-go/blob/master/_example/proto/example.webrpc.json

implementing the schema at https://github.com/webrpc/webrpc-go/blob/master/schema/README.md

note, the data types of webrpc are inspired by protobuf's, Go, TypeScript and WASM :) intended to be serialized as JSON

[2019-02-04 22:25] pkieltyka opened #2 "json-rpc 2.0 -- should we use it?"

[2019-02-04 22:25] pkieltyka opened #3 "gen pkg: generate Go client+server"
so.. I wrote an example by hand, inspired by twirp+grpc+other here: https://github.com/webrpc/webrpc-go/tree/master/_example/proto

the goal is to use this file: https://github.com/webrpc/webrpc-go/blob/master/_example/proto/example.webrpc.json

and generate .. https://github.com/webrpc/webrpc-go/blob/master/_example/proto/proto.gen.go file

by triggering the `go generate` command on this file, ht

[2019-02-05 21:18] pkieltyka opened #4 "verify arg name with regexp"
only allow whitelisted expression

please fix: https://github.com/webrpc/webrpc-go/blob/master/schema/parser.go#L35-L41

[2019-02-05 23:02] pkieltyka opened #5 "doh, forgot to add `date` and `time` types in schema"

[2019-02-05 23:07] #5 closed, assigned to pkieltyka

[2019-02-06 18:49] #3 closed, assigned to pkieltyka, xiam

[2019-02-06 18:51] pkieltyka opened #8 "webrpc-gen cli"
we need to implement all the flags such that it works as.......

[code]

sample usage would be.......

`webrpc-gen -schema=example.webrpc.json -target=go -pkg=proto -server -client -out=./proto`

[2019-02-06 18:53] pkieltyka opened #9 "gen: add typescript generator"
just like .. https://github.com/horizon-games/protoc-gen-twirp_ts

lets write `gen/typescript` generator just for the client

[2019-02-06 18:57] pkieltyka opened #10 "go gen: generate enums"

[2019-02-06 19:17] pkieltyka opened #11 "go gen: run gofmt or goimports after code-generation on output file"
I wonder if we can run goimports from webrpc-gen directly, so we dont have to run it as separate process.. something we can integrate directly since we're in Go pipeline anyways.. prob would be easy

[2019-02-06 20:15] #8 closed, assigned to pkieltyka

[2019-02-06 20:20] pkieltyka opened #12 "go client/server: error responses, clean it up, etc."

[2019-02-06 20:20] pkieltyka opened #13 "schema: "imports" directive support"
An `import` directive could help with a few things

1. Schema organization -- split definitions up into multiple files.

2. Internal service routing and proxying -- to have a front-end API service that can communicate to internal services just from the schema design

[2019-02-06 20:21] pkieltyka opened #14 "examples: add auth+acl example like we do in some of our apis"

[2019-02-06 20:21] pkieltyka opened #15 "streaming support via websockets"

[2019-02-06 20:26] pkieltyka opened #16 "go gen: use gen.TargetOptions with generator"
for ..

* PkgName
* Client on/off
* Server on/off

[2019-02-07 02:10] #16 closed, assigned to xiam

[2019-02-07 15:24] #10 closed, assigned to pkieltyka

[2019-02-07 18:17] pkieltyka opened #19 "multiple input argument support"
gRPC returns 1 input argument and 1 output argument, and we've gone with this 0 or 1 input args and 1 output arg in webrpc first implementation. But it should be easy to support multiple input arguments. Something to do later..

[2019-02-07 18:22] pkieltyka opened #20 "gen/golang: faster json marshalling"
As we have a well-defined schema, we have an opportunity to generate optimized JSON encoders/decoders for each different type that performs much better than Go's std "encoding/json". The std "encoding/json" uses the reflection to marshal/unmarshal in a flexible way, and its great, but produces extra garbage and costs more computer time then if we code-generated specific encoders for each message/t

[2019-02-07 18:27] pkieltyka opened #21 "rpc request: viable to cache with normal http caching"
the design of webrpc is to HTTP-POST to `/rpc/<serviceName>/<rpcMethod>` a structured JSON string to the webrpc server. Great.. but, as the input argument is sent as the request body, can nginx/CloudFlare/other services use that request body to generate a cache-key needed for basic cache-control rules?

the standard way is to use the URI + query string to generate a cache string -- but, right now,

[2019-02-07 18:31] pkieltyka opened #22 "binary data type in fields with JSON serialization"
we like clean and simple JSON for serialization. But, how can we include a binary data field within a request or response object...? such as a small image, or something small. Would be interesting to think about chunk`ing responses too..

maybe https://github.com/PsychoLlama/bin-json has some ideas.

[2019-02-07 18:39] #9 closed, assigned to xiam

[2019-02-07 21:21] pkieltyka opened #24 "gen/typescript: generate enums"

[2019-02-07 22:49] #12 closed, assigned to pkieltyka

[2019-02-08 17:48] #11 closed, assigned to nobody

[2019-02-08 17:57] #24 closed, assigned to xiam

[2019-02-08 19:21] shazow commented on #2
IMO default should be "yes", and otherwise justified. ;)

[2019-02-08 23:19] aj0strow commented on #1
What about a documentation style format?

[code]

[2019-02-08 23:45] pkieltyka commented on #1
Nice, I really like that idea, that syntax looks great! I’ll see how I can adapt towards that direction

[2019-02-11 02:55] pkieltyka commented on #1
here's what i've ended up and am designing for now..

[code]

[2019-02-12 21:17] aj0strow commented on #1
Looking good. What if the top level types match syntax of field types?

[code]

[2019-02-12 21:20] pkieltyka commented on #1
could do that too.. but, i like the natural language version you suggested at first.. feels just a bit better

[2019-02-14 14:47] pkieltyka commented on #1
done deal. merged in master.

See https://github.com/webrpc/webrpc/blob/master/_examples/hello-webrpc/hello-api.ridl RIDL file for the hello-webrpc example and to generate server/client like so..

* `webrpc-gen -schema=hello-api.ridl -target=go -pkg=main -server -out=./api-server/hello_api.gen.go`
* `webrpc-gen -schema=hello-api.ridl -target=js -extra=noexports -client -out=./webapp/client.gen.js`

[2019-02-14 14:47] #1 closed

[2019-02-14 19:21] #4 closed

[2019-02-20 14:59] pkieltyka opened #35 "ridl polish"
- [x] gen/golang -- make sure to generate json struct tags always, even if we don't define them in meta

- [x] gen/golang -- add go.tag.json override, might already work for free..

- [ ] enum error message is on wrong line -- `enum Blah` which misses `: type` should error on that line .. or set a default of uint32

- [x] bug, defining dupes of messages in RIDL, doesnt return an error?
   * ie. me

[2019-02-20 15:14] pkieltyka opened #36 "schema: def order"
allow messages to be defined in any order in the json or ridl schemas

[2019-02-20 21:26] #19 closed

[2019-02-24 21:49] pkieltyka commented on #36
done in 80543e233634bb9a0169d188afe3be80facf1063

[2019-02-24 21:49] #36 closed

[2019-02-28 21:32] jeberly opened #37 "Approach to documentation generator?"
First off, huge thanks to this library!! It looks like exactly what I was looking for after evaluating Twirp, et al. I love that it is simple, and right to the point with little dependencies and easy to grep the source. Keep up the good work.

Although RIDL is fairly self documenting (good job), has there been any thought into a doc generator with outputs eg. swagger, etc?  Just interested in your

[2019-03-17 22:12] nkev commented on #2
I would suggest OpenAPI 3.0. There are Go libraries for it already, like https://github.com/getkin/kin-openapi

[2019-03-18 11:13] pkieltyka commented on #2
thanks @nkev but for this, we're just thinking of a data structure convention for including metadata in a req/resp. openapi provides much more than that. See https://www.jsonrpc.org for more info.

[2019-03-18 11:15] pkieltyka commented on #37
thanks @jeberly :) really appreciate your enthusiasm, let me know if you guys actually try webrpc and how it works out for ya.

a doc generator is a great idea, and would be totally possible and could hook into the gen tools :) ie. instead of outputting ts/js/go/etc source -- generate docs

[2019-03-18 21:57] nkev commented on #2
I know. Why wouldn't you make your JSON schema compatible anyway and not re-invent the wheel?

[2019-03-18 21:59] pkieltyka commented on #2
Reinvent which wheel? We don’t use json-rpc, we don’t have a need for any schema in the payload at the moment. If I add streaming/websocket support, then will need it, and most likely will adopt json-rpc 2 then

[2019-03-29 15:47] pkieltyka commented on #15
just FYI -- I've been considering a design to add streaming support to webrpc, and I feel the additional complexity and difficulty to support streaming for all uses, isn't worth it. Webrpc's current design benefits from simplicity by just focusing on a req-resp model. Perhaps at later date there could be a nice extensions system which could offer this functionality outside of the base project as i

[2019-04-04 01:32] paulxuca opened #38 "Error handling in js/ts generated code"
[code]

This is all fine and dandy, but if the response is anything that isn't json serializable, this causes an error to be thrown when calling `resp.json()`. I think a more suitable method of handling an error would be to first attempt json deseraialization, and then if it throws an error, throw a new error with either the response body/ status code.

[2019-04-09 13:44] paulxuca opened #41 "Field names should be defined outside of generator"
i.e:

I have a field called `MYID`. The generated ts/js code will downcase (camelcase) that field to `mYID`, which is unintended.

[2019-04-09 15:44] pkieltyka commented on #38
agreed -- but the server should always return something deserializable, or have you seen in practice otherwise? ie. worst case you'd get back `""`

lmk

[2019-04-09 16:04] paulxuca commented on #38
Cloudflare 503 is a full on HTML page, which is how I ran into this issue

[2019-04-09 16:09] pkieltyka commented on #38
gotcha, makes sense. would you mind submitting PR of updated TS template for the additional deserialization check + throw

[2019-04-11 16:25] pkieltyka commented on #41
@paulxuca just checking if you can lmk if you can reproduce this, or if we can close

[2019-04-11 16:41] paulxuca commented on #41
Seems like it's working now!

[2019-04-11 16:41] #41 closed, assigned to nobody

[2019-04-29 14:59] c2h5oh opened #44 "Add support for map<enum_type, some_other_type>"
Right now only basic types are supported

[2019-04-29 23:41] pkieltyka commented on #44
@c2h5oh perhaps the issue is using enum_type as the key. webrpc might right now require string or number as the key, but any value is supported already as you can see in https://github.com/webrpc/webrpc/blob/master/_examples/golang-basics/example.ridl#L46

for enum_type, since its number based, should be pretty easy to add support for it eventually

[2019-05-02 00:47] #38 closed

[2019-05-11 16:01] pkieltyka opened #46 "gen/ts + gen/js: improve server code generation"
- [ ] error codes and messages, similar to gen/golang
- [ ] formatting, hopefully some library out there to help clean up some of this formatting for generic source so it doesnt looks so bad. Or the templating system we use, Go's `text/template` could have some other useful notation/other to help with clean formatting easier during generation

[2019-05-13 18:08] c2h5oh commented on #44
That's exactly what this ticket is about - being able to end up with `map[enumType]valueType` on go side

[2019-05-18 22:40] alinz opened #48 "is type Uint64 and Int64 safe for javascript?"
Currently javascript engine which parse JSON does not support Int64 and Uint64 and it may overflow and represent a wrong value. Have you thought about this issue?

[2019-05-18 23:10] pkieltyka commented on #48
hey @alinz thanks for bringing up the issue. The standard says the number type ranges from - 2^53 - 1 to 2^53 - 1 which you're right won't fit into uint64 -- but, in my chrome console I can represent a number far larger then those rangers which I'm not sure how that works. However, if we must, we can use a string type under-the-hood, or rename the webrpc type from uint64 to uint53 (just kidding)

[2019-05-18 23:14] alinz commented on #48
Sounds good, I just wanted to have this documented here. I will close this for now.

[2019-05-18 23:14] #48 closed

[2019-05-18 23:16] pkieltyka commented on #48
It’s def an important issue that leaves me a bit confused but number ranges seem to work, perhaps that is off-standard tho

[2019-05-19 08:49] zmitry opened #49 "Protofiles or flatbuffers files for schema instead of custom format"
It might be better to use known format as IDL.

[2019-05-19 12:43] pkieltyka commented on #49
Both schemas/formats are designed for binary encoding, as a result, limit the expressiveness of the types. The goal of Webrpc is to handle types native to Web browsers, which is why we use JSON. Plus, RIDL is easier to write and works just as well, requires less tooling and the webrpc-gen is tied to the format to easily write code-generators -- what are some good reasons to adopt protobufs or flat

[2019-05-19 13:57] pkieltyka commented on #49
as well profobuf+grpc combo especially is quite messy in my opinion when it comes to trying to do something custom or making the generator do something custom (ie. its a struggle to support a dynamic hashmap like `map[string]interface{}` with protobuf even with gogoproto or any tooling, and if you want to add annotations / hints to the generators gogoproto helps, but that is just Go specific, it d

[2019-05-20 08:32] zmitry commented on #49
Okay I just suggest to use proto/flat format but no grpc at all, I thing it's more convenient for new members of the team get used to some idl. And also second reason it's better tooling you have tons of helpers and generators based on proto/flat files.  I'd like to use the tool that have either known format or just regular go files for describing services.

[2019-05-20 16:59] pkieltyka commented on #49
hmm yea, not really compelling for my design goals. Thanks for the suggestion tho

[2019-05-20 16:59] #49 closed

[2019-06-08 17:08] dude333 opened #50 "gen/golang: error on json unmarshalling"
I got this error on my program when using a struct as function parameter and then I saw the same situation in the _golang-basics example_.

You can reproduce the error by running the example:

    cd _examples/golang-basics
    go run .

And when you try to find a user, it issues a fatal error:

    curl -v -X POST -H"Content-Type: application/json" -v -d '{"q":"123"}' http://localhost:4244/rpc/Ex

[2019-06-08 20:45] pkieltyka commented on #50
@dude333 thanks for the report, I'll make sure to add a clean error for encoding/decoding errors like above.

the reason this happens in golang-basics is that the rpc method `FindUser` is defined as `FindUser(s: SearchFilter) => (name: string, user: User)` in ridl, which means its expecting `"s"` to be passed as well for the argument name which contains the `SearchFilter` object

like so..

[code]

[2019-06-08 20:49] pkieltyka commented on #50
the Go, JS and TS clients will use the correct argument names automatically btw, is there a reason you're querying it by hand or did you come across this error some other way?

[2019-06-08 20:58] pkieltyka commented on #50
I reviewed the server error checking code, and it does the right thing to recover from the panic when passed invalid call data. The marshaller perhaps could have given a better warning though. Closing this as its not a bug.

[2019-06-08 20:58] #50 closed

[2019-06-12 03:15] dude333 commented on #50
@pkieltyka, the problem was actually in my parameter passed, in the client side, to my js api function call. Instead of `api.fn({ objParm })` I was using `api.fn(objParm)`.

Thanks for the catch, and for contributing to this amazing tool.

[2019-06-25 19:42] jeberly opened #51 "whitespace in RIDL file causes `webrpc-gen` to hang indefinitely."
If there is any whitespace chars on a blank line in `.ridl` file, it causes `webrpc-gen` to just hang and churn CPU, never exiting.

You can recreate by adding a space to line 2 of https://github.com/webrpc/webrpc/blob/master/_examples/hello-webrpc/hello-api.ridl

and try to run `make generate`.

in case it matters.  I was running on macOS 10.14.5.

[2019-06-25 23:51] pkieltyka commented on #51
indeed you are right! what a strange one. I'll fix this in a few

[2019-07-21 18:42] pongsanti opened #52 ""time" imported but not used error - in the generated golang server file"
BTW. Thank all you guys for creating the go-chi. :smiley: I really like the minimalist vibe of it.

I don't have any messages with `time.Time` type in my `ridl` file, but `time` is imported anyway.

The ridl file
https://gist.github.com/pongsanti/6c38c1d28bb41c70d6d639b1e05657b1#file-schema-ridl

command:
`webrpc-gen -schema=schema.ridl -target=go -pkg=main -server -out=./schema.gen.go`

The gener

[2019-07-24 14:57] #51 closed

[2019-07-24 15:00] xiam commented on #51
Fixed. Thanks for spotting this one @jeberly.

[2019-07-25 17:36] geokat opened #54 "Provide method to return webrpc style errors from middleware"
In the same vein as https://github.com/twitchtv/twirp/issues/161

[2019-08-04 18:16] geokat commented on #54
As a workaround, using the generated `writeJSONError` method works as long as the generated package name (in Go) is the same as the middleware one.

[2019-08-05 14:18] pkieltyka commented on #54
hey @geokat in my services, I added this extra method in my middleware package:

[code]
which I then use to return an error from my middlewares. Alternatively though, as I look at this [writeJSONError() method](https://github.com/webrpc/webrpc/blob/master/_examples/hello-webrpc-ts/server/hello_api.gen.go#L338-L360), we can probably drop the ctx argument and export this method

[2019-08-07 01:49] pkieltyka commented on #52
resolved in https://github.com/webrpc/webrpc/commit/6e3fe87a082daccd5cf06d734ae378948495896a

[2019-08-07 01:49] #52 closed

[2019-08-07 02:54] pkieltyka commented on #54
thanks @geokat for the suggestion. I've included the `RespondWithError(w, err)` method. Just update webrpc-gen, and run the generator again to get the latest code-gen output with this method, enjoy

[2019-08-07 02:54] #54 closed

[2019-08-08 14:25] pkieltyka opened #55 "gen/go: field of enum type should not be a pointer type in gen'd code"

[2019-08-10 14:00] geokat commented on #54
Thanks so much!

[2019-08-11 16:23] jeberly opened #56 "Set cookie w/ via webrpc handler and generated typescript client?"
Any advice/ideas on how to set a cookie via a webrpc handler when the generated typescript/javascript code calls an endpoint?   Eg. `api.Login()` on success sets a browser cookie.

[2019-08-11 22:59] pkieltyka commented on #56
@jeberly sure thing --

inside of a webrpc rpc handler, you can grab the *http.Request and http.ResponseWriter from the `ctx` argument like so..

[code]

[2019-08-11 22:59] #56 closed

[2019-08-11 23:20] pkieltyka commented on #56
And btw, proto in the example above is the name of my package that has the webrpc-gen’d server code

[2019-08-15 18:11] pkieltyka commented on #13
I've been thinking about the import syntax and functionality, and here's what I've come up with so far..

## 1. Schema organization

[code]

[code]

[code]

A few notes:
* `import` paths would be resolved and then flattened into a single list, in case there were cyclic imports or in different order or listed multiple times
* `message`, `enum` or `service` definitions cannot be duplicated, if this

[2019-08-15 19:16] pkieltyka commented on #2
don't need it

[2019-08-15 19:16] #2 closed

[2019-08-29 02:55] jeberly commented on #56
Thank you!

[2019-09-08 02:37] pkieltyka commented on #15
thought of a new approach using chunked transfer encoding that will work quite well :) or http2 streaming would work about the same. However, websockets as a persistent connection without frames changes a lot of the design. Although websockets can work, its better suited as an extension

[2019-09-08 03:11] pkieltyka opened #58 "streaming support"
I've spent a lot of time thinking about a suitable design to support streaming support for webrpc that will also work with browsers.

The approach is to use chunked transfer encoding for request or response bodies to handle streaming, https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Transfer-Encoding

As for RIDL support, it could look like below:

[code]

this is a slight difference from

[2019-09-08 03:15] pkieltyka commented on #58
btw, @xiam just a small note when you're working on the lexer about the correction above..

before:
`- Method(msg: stream string) => (msg: stream string)`

after:
`- stream Method(msg: string) => stream (msg: string)`

the reason for this change is there could be methods like ..

`- stream Method(index: uint64, filter: string) => stream (t: time, data: string)`

where the req/resp payloads look li

[2019-09-16 14:44] pkieltyka commented on #44
@xiam this would be really nice to add support for too, and should be easy to support in parser since enum's are all numbers under the hood

[2019-11-01 16:46] c2h5oh opened #59 "Nested maps copy outer key type verbatim in TypeScript"
ridl:

[code]

generated TypeScript
[code]

[2019-11-01 17:49] #59 closed

[2019-11-12 16:13] pkieltyka commented on #13
done in master! thanks to @xiam  -- also FYI to folks reading this, the spec described above is *pretty* close to what we actually finished, but its actually a bit different/better.

for examples, see https://github.com/webrpc/webrpc/blob/master/schema/ridl/_example/example1.ridl#L7-L12

usage:

1. To import an entire ridl file into current schema:
`import ./anotherfile.ridl`

2. To import just ce

[2019-11-12 16:13] #13 closed

[2019-11-12 17:48] hooksoft opened #60 "Tag value with colons and parenthesis doesn't parse anymore"
Hi,
I've been evaluating this project and noticed that this kind of tag value doesn't parse anymore:

[code]
The code seems to be:

https://github.com/webrpc/webrpc/blob/3a0c9f0ee2f9eeda68b5fade4454c1a11791e94b/schema/ridl/parser.go#L342

and gives

`parse error: "unexpected token" near ":" (line: 14, col: 30)`

[2019-11-12 18:35] pkieltyka commented on #60
Thanks for the report. What version of webrpc are you using? Master? We can surely fix this one easily

[2019-11-12 18:59] hooksoft commented on #60
I think so: commit `3a0c9f0ee2f9eeda68b5fade4454c1a11791e94b` from `Tue Nov 12 10:05:45 2019 -0600`

[2019-11-12 19:00] hooksoft commented on #60
BTW thank you so much for webrpc.  I hope I can deploy it soon :)

[2019-11-12 19:01] pkieltyka commented on #60
@hooksoft :) np.

ah yes I see. My suggestion in the near term is to install an older commit of webrpc until we fix this issue. It seems to be a bug we introduced with the latest lexer cc: @xiam

[2019-11-12 19:07] pkieltyka commented on #60
I have to double check, but I believe the issue is here, https://github.com/webrpc/webrpc/blob/3a0c9f0ee2f9eeda68b5fade4454c1a11791e94b/schema/ridl/parser.go#L334 we should be parsing the token value up until we reach a newline character

[2019-11-12 19:11] xiam commented on #60
Is it possible to define a valid charset instead? I think we don’t want
spaces, tabs, or comments to be included.

On Tue 12 Nov 2019 at 13:07 Peter Kieltyka <notifications@github.com> wrote:

[2019-11-12 19:20] pkieltyka commented on #60
@xiam IMO, I think for the webrpc format, anything after to `=` up until `\n` should be considered a value value. We can't predict the contents people will want to pass to the generator.

It looks like you wanted to have a more well defined format for the value so you can define a bunch of `+ go.tag.db = X + go.tag.db = Y` which is kinda cool, but IMO it's not worth it and we should use whitespace

[2019-11-12 19:25] xiam commented on #60
If we can’t have a valid charset we can have a set of characters that
delimit the token, I think white space characters like space, tab, etc. are
fine and that should affect parsing of comments. What do you think?

On Tue 12 Nov 2019 at 13:20 Peter Kieltyka <notifications@github.com> wrote:

[2019-11-12 19:34] pkieltyka commented on #60
I think tab could work to delimit, but that is pretty much it, as some people might want space or other characters in their value, prob not tab or newline tho

[2019-11-13 15:59] hooksoft opened #63 "Any way to generate "pointer" members?"
A common pattern is to use pointers for values that might be null, say:
[code]
Could this make any sense in webrpc?
Also, in general, shuold we reuse the types that webrpc-gen generates when dealing with the database/persistence side?

[2019-11-13 16:39] pkieltyka commented on #63
@hooksoft yea looks good.

If you want a pointer member, you have a few options. use `- field?: type` or use.. `- field: type` and then use `+ go.field.type = *time.Time` -- the `go.field.type` extension allows you to set any type you want, as a code-generator hint, an override essentially

[2019-11-13 17:05] hooksoft commented on #63
How did I miss that... sorry for the noise.

[2019-11-13 17:05] #63 closed

[2019-11-19 18:06] hooksoft opened #65 "Rules for converting all-uppercase struct members"
Since `ID` is the [recommended](https://github.com/golang/lint/issues/124) spelling for identifier fields in Go, just wanted to let you know that a RIDL file like:

[code]
encodes to:
[code]
instead of `id`. DeviceID encodes correctly to deviceID, though.

[2019-11-19 18:07] hooksoft commented on #65
Sorry, as per https://github.com/webrpc/webrpc/blob/master/_examples/hello-webrpc/hello-api.ridl you probably are aware of this.

[2019-11-19 18:07] #65 closed

[2019-11-23 11:43] hugows commented on #14
I'd love to understand how to go about this: do I add some kind of token on every method?

[code]

[2019-11-26 21:25] #60 closed

[2019-11-26 21:37] pkieltyka commented on #14
I don't have any sample code, but keep in mind webrpc-gen just code-generates the server code as a standard http.Handler interface. Meaning you can use any of Go's standard http middleware, or whatever the respective target you're building for (ie. nodejs).

For a go server, you can use https://github.com/goware/jwtauth for an auth key, then write yourself a custom "ACL" middleware handler that ch

[2019-12-13 16:03] hugows opened #66 ""-" fieldtag generates valid Go but invalid Javascript client"
A RIDL spec like the following:

[code]

will generate the following Javascript, instead of ignoring the field:

[code]

Replacing `json` with `go.tag.json` is a temporary workaround, IIUC.

[2019-12-13 16:39] pkieltyka commented on #66
thanks for the note

[2019-12-16 07:07] ansarizafar opened #67 "Generated client for Dart"
Google's Flutter framework is becoming very popular and A Webrpc generated Dart client will greatly help Flutter/Dart developers to build cross platform apps with Webrtc. I request you to please consider this proposal as a priority.

[2019-12-16 16:52] pkieltyka commented on #67
totally a good suggestion / idea, but it's not something I can personally prioritize. This is a fairly direct undertaking though, especially since Dart appears to be Typescript-like.

We use the webrpc typescript generator across our apps on the Web and even within React-Native (literally the same generated code), and its quite a productive paradigm.

[2019-12-16 16:52] g5becks commented on #67
Hey @ansarizafar I am currently attempting to add support for Dart, it seems like it won't be that hard to do, the main part that I am having trouble with is the fact that the code is not very well documented, so I am spending a lot of time reading through the implemented languages trying to figure out what's what regarding the inputs and outputs for the templates.

Maybe @pkieltyka doesn't mind c

[2019-12-16 16:54] pkieltyka commented on #67
@g5becks nice -- thanks for giving this a shot.

Once you have Go installed, you can use `make build` commands to help you compile the program and run the template generator.

A good starting point is to copy the typescript generator and make modifications there. Don't forget to add the generator to the list here, https://github.com/webrpc/webrpc/blob/master/cmd/webrpc-gen/main.go#L14  .. but with

[2019-12-16 16:59] g5becks commented on #67
@pkieltyka  Thanks. Will do.

[2019-12-17 00:55] g5becks commented on #67
@pkieltyka I tried to do a little more work on this.  I started fresh and deleted all of the template files, funcs in the funcmap file. I tried to rebuild and run just to see some sample output for generating message types, but every time I run it I keep getting one of two different error messages,

`template: webrpc-gen-dart:13: function "serverServiceName" not defined`

or

`template: webrpc-gen

[2019-12-17 08:59] ansarizafar opened #68 "Server/Client Hooks for Logging, Monitoring and Authorization"
Twirp has introduced support for client hooks in latest release https://github.com/twitchtv/twirp/releases for logging, monitoring and authorization.

Currently, we need to use a router and middle wares to perform above mentioned tasks on the server. I think the approach used by Twirp is much better, no need to use another package to provide routing/middleware on the server and hooks are also very

[2019-12-17 09:02] ansarizafar opened #69 "Data validation constraints in schema"
It would be great, If we can define data validation constraints in schema for each message field and then generate code for validating message fields.

[2019-12-17 15:27] pkieltyka commented on #68
hey @ansarizafar why do you say that the hooks pattern in Twirp is better than using a standard http middleware/handler stack? I'm curious why you think this.

WebRPC uses just standard http.Handler and middlewares (when it comes to Go). This is a far superior model as it means all of the http routers, middlewares and libraries that developers have built for their REST APIs and other microservices

[2019-12-17 15:27] #68 closed

[2019-12-17 15:29] pkieltyka commented on #69
This is out of the scope of WebRPC's responsibilities. We rely on the type-system for data type constraints, at an application-level you could implement a middleware, or in your data model, or in the rpc handler.

[2019-12-17 15:29] #69 closed

[2019-12-17 15:42] pkieltyka commented on #67
hey @g5becks you were right, it was just something small. I took a look and found two issues:

1. https://github.com/g5becks/webrpc/blob/dart-support/gen/dart/gen.go#L12 -- this line should be importing the dart/embed package, as: `"github.com/webrpc/webrpc/gen/dart/embed"`
2. You're missing the definition of template var `fieldType` in this map https://github.com/g5becks/webrpc/blob/dart-support/

[2019-12-17 15:52] ansarizafar commented on #68
I now realized, Yes, you are right.

[2019-12-17 16:12] g5becks commented on #67
@pkieltyka That was definitely the issue, Intellij code folding was working against me on the first one. Thanks for the help.

[2019-12-18 16:57] g5becks commented on #67
@ansarizafar just to update you or anyone wanting this feature added. I have made some ok progress on it, but I don't plan to finish this completely until https://github.com/helm/helm/issues/1579 is at least in beta. Adding support for web-rpc optional types without it makes little sense to me at this point.

[2019-12-19 05:18] ansarizafar commented on #67
@g5becks Thanks for working on Dart support and for this update.

Dart team is working on this feature for ages and still there is no ETA, It would be great If somehow we can either find a solution without it or just release first version without support for webrpc optional types.

[2019-12-19 09:40] ansarizafar opened #70 "Webrpc with Aero framework"
Is it somehow possible to generate code compatible with Aero framework https://github.com/aerogo/aero

[2019-12-19 14:44] g5becks commented on #67
@ansarizafar while I agree that it has been a while that they have been working on this feature, they have released previews of it on dartpad, which leads me to believe it will be shipped in the next RC  on the dart dev channel.

For me, adding dart support to web-rpc is not something I am in great need of right now, more so something to do in my free time, and I don't want to have to rewrite it w

[2019-12-25 04:38] ansarizafar opened #71 "CBOR for serialization"
The Concise Binary Object Representation (CBOR) http://cbor.io/ is a data format whose design goals include the possibility of extremely small code size, fairly small message size, and extensibility without the need for version negotiation.

CBOR is based on the wildly successful JSON data model: numbers, strings, arrays, maps (called objects in JSON), and a few values such as false, true, and nul

[2019-12-25 05:01] ansarizafar commented on #69
You are right but It would be great, If Webrpc allow https://github.com/go-playground/validator validation tags to added to message fields. In this case, there is no need to generate any validation code just add these tags to generated struct and create, populate and pass the instance to rpc method.

[code]

This will save developers to create a separate struct with validation tags, create an inst

[2019-12-27 10:38] pkieltyka commented on #71
CBOR is pretty cool but browsers are optimized to parse JSON. Can you post a CBOR browser js library and some performance benchmarks?

[2019-12-27 10:40] pkieltyka commented on #70
Webrpc implements the http.Handler interface, and so long as other libraries (like aero) are compatible with http.Handler then it will work out of the box :)

[2019-12-27 10:40] #70 closed

[2019-12-30 16:19] 1vn commented on #55
One workaround is to override the pointer type by specifying go.field.type:
[code]

Note, if you use this as a service parameter (i.e. `UpdateUserType(userID: int64, type: UserType`) the service interface will still expect a pointer arg for the enum

[2020-02-19 22:56] geokat opened #72 "Custom errors: Define API errors in RIDL"
Would it be useful to be able to enumerate all possible errors for an API in the RIDL file?

This way API consumers could have a single place to learn everything they need to know about the API. Right now RIDL helps amazingly with that, except that it doesn't "contractualize" errors, so they have to be documented separately.

Also, it would be nice to be able to return multiple errors from an API.

[2020-02-20 00:09] pkieltyka commented on #72
Yea I agree. I’ll send another note later to add more thoughts on this, thanks for the feedback

[2020-03-19 23:34] jargv opened #74 "gen/ts always fails on empty response"
If I have an rpc method like this...
[code]
... then the client always fails (after actually succeeding server-side) because the generated code looks like this:
[code]

And `buildResponse` always tries parse the JSON body, which is empty.

An easy workaround is to just return something from the rpc call:
[code]
note: My server-side is Go and my client is TS.

[2020-03-19 23:38] pkieltyka commented on #74
@jargv can you try the rpc definition as `- Delete(id: string)` and lmk how it works?

[2020-03-20 16:10] jargv commented on #74
@pkieltyka `- Delete(id: string)` works the same as `- Delete(id: string) => ()`. If both syntaxes are supported, I would expect for the first to mean "no response body" and the second to mean "empty json object response body".

At any rate, whatever the server generates, the client should follow suit and not try to `JSON.parse` on an empty body.

[2020-03-21 13:43] pkieltyka commented on #74
thx for heads up on this -- I have an upcoming release of webrpc that brings some new features which will also solve this issue

[2020-03-21 13:44] #71 closed

[2020-04-24 00:13] g5becks commented on #67
Hey @pkieltyka, since I have some free time, I decided to finish the dart templates for this.

Quick question, is there a way to reference the name of the generated file that the user-specified in the templates?

For dart, there will be an additional build step that has to run after webrpc to generate the json models and I need to include the file name in the template.

Thanks.

[2020-04-24 22:48] g5becks commented on #67
@pkieltyka Also, I think it would make sense to offer flags to output the client generated code and server-generated code into separate files.

[2020-05-26 22:52] IvoPereira commented on #72
@pkieltyka any updates on this one?

I am looking for the exact same usecases as @geokat.

[2020-10-22 12:27] ottob commented on #14
Thanks for a very nice project!

On the client side, is the preferred way to pass the auth token in the headers parameter in the service call?:
`private = (headers?: object): Promise<PrivateReturn> => {`

Like so:
[code]

[2020-10-22 12:59] pkieltyka commented on #14
@ottob that certainly works, but also since the generated api accepts a `fetch` method as an argument, you can actually wrap it and add additional functionality, such as automatically setting the jwt. See for instance the example below which is some code I've pulled out from one of my projects

[code]

[2020-10-22 13:18] ottob commented on #14
Great! Im new to js/ts but that helps a lot, thanks.

[2020-10-22 13:36] ottob commented on #14
I tried using your code now but got an error on this line: `this.fetch = this._fetch`

Have you patched your gen.ts file so `fetch` is public? Or am I missing something obvious?

[2021-03-16 09:40] vjpr opened #86 "Bidirectional rpc over websockets"
I’m looking for a bidirectional rpc over websockets. How tied to plain http transport is this lib?

Streaming would also be nice. But I see you already have an issue for it.

Also, did you consider using JSON-RPC standard? I am hesitant at the lock-in that comes from a custom rpc standard. Are there advantages of your protocol over this?

[2021-06-03 19:54] pkieltyka opened #93 "Go and TS, error type field missing "cause" in error type"
![image](https://user-images.githubusercontent.com/18831/120703895-e532be80-c483-11eb-81f5-fa2d99b9c5b7.png)

[2021-10-02 16:17] pkieltyka opened #97 "404 not found -- reconsider using http status codes for rpc output signaling"
a 404 error is confusing, and could mean the endpoint doesnt exist

[2022-01-27 18:29] OrenLeung opened #100 "Telemetry to WebRPC"
Love WebRPC! <3 @pkieltyka

Is there any way to add telemetry to webrpc? Currently solutions: for example new relic, and open telemetry require context passing by injecting context using their function. If not, can this be added in as a feature?

## Example Injecting Context OpenTel
![image](https://user-images.githubusercontent.com/47992694/151420925-fb9a1531-9530-4978-ab1b-d04d2539273e.png)

##

[2022-06-05 21:22] pkieltyka commented on #100
hey @OrenLeung sorry for the long time to respond -- did you end up figuring this out?

also, are you wondering about telemtry on the server-side of client-side...? if it is server-side, then you can do this outside of webrpc :) I would recommend using github.com/go-chi/chi in combination, where you setup a telemetry middleware before requests which hit the webrpc service. This is what I do in pro

[2022-07-13 21:06] pkieltyka opened #104 "typescript/javascript clients: ensure is safe to parse empty response without throwing error"

[2022-07-22 20:09] pkieltyka opened #105 "gen go/ts: rpc methods with no response value"
presently rpc methods with no response will return a 0 byte body, which is annoying. it should either return an empty object, ie. `{}`, or we return always a response value..

ie.

[code]
or
[code]

will cause a 0 byte response body..

for now, the fix is to always return a value.. like `- SomeMethod(in: string) => (ok: bool)` .. and perhaps we should enforce that, but another approach is to just

[2022-07-28 18:26] robfordww opened #106 "[]*Users vs. []Users"
This post might me more appropriate for a discussions tab in GitHub, but this project does not have one. My question is if the return type is configurable?  Currently, it seems like all slices of structs/message are mapped to slices of pointers? Is this by design? Any way to create slices of structs instead?

[2022-07-28 18:29] pkieltyka commented on #106
hi there,

yes you can do like..

[code]

notice the `+ go.XXX` hint? in you case you want to use `+ go.field.type = XXX` and you can override to anything, and the generator will use it.. for example

[code]

webrpc v2 is coming out soon too, and has a few more things related to hints as well, lmk how it goes

[2022-07-28 19:39] robfordww commented on #106
First thanks for this so useful library!  Great work.
I was in fact aware of that go.field.type feature by reading on this forum, although I didn't consider creating a intermediate message in order to override the return type for the service function.

I have huge respect for your work in Go, so I guess there is a reason for this design. Otherwise, I would prefer a design like this for consistency

[2022-07-28 20:00] pkieltyka commented on #106
the issue is not all languages have pointers, so it wouldn't translate everywhere. To combat that, we add language hints / overrides. We can keep iterating on the schema format in v3, but im eager to get v2 out and in the meantime using code gen hints should work.

As you pointed out, one of the issue is using the code gen hints in the RPC definition itself, as you can't specify `+ go.field.type`

[2022-07-28 20:00] #106 closed

[2022-09-23 21:23] ftjfo commented on #106
Can you reveal some info about the timeline for v2?

[2022-09-23 21:25] robfordww commented on #106
Can you reveal some info about the timeline for v2?

[2022-09-23 21:29] pkieltyka commented on #106
it’s a few weeks away

[2022-09-28 22:55] jeberly opened #108 "With go1.17+ panic behavior is broken"
Discovered an issue today when the webrpc handler has code that panic's or you manually add a `panic("stop")` the stack trace is wrong/broken and not helpful in debugging.

I tested today with one of your example apps, running latest webrpc generator.

With go1.16 or lower, the panic stack trace looks correct with:

[code]

With go1.17 or higher, panic stack trace seems broken:

[code]

Steps to r

[2022-10-05 12:24] VojtechVitek commented on #105
I think I'd prefer the empty object `{}` response by default.

no return arguments => no fields within the response object

[2022-10-05 21:14] pkieltyka commented on #105
Agree, I think empty object `{}` response is the right approach

[2022-10-06 02:20] pkieltyka opened #109 "webrpc-gen cli v2"
As part of webrpc v2, I'd like to remove the templates inside of gen/ and instead have them as part of their own repos which would be fetched during the time of code-generation. The webrpc v2 cli would offer just the schema / RPC object tree, and a "gen" sub-package for the methods available for the templates.

Currently in v1 to generate webrpc code we call: `webrpc-gen -schema=example.ridl -targ

[2022-10-10 20:23] ftjfo commented on #109
Would it make sense to do `-taget=./tmpldir` and be able to target own custom templates without invoking a git command.  Or am I supposed to recompile the `webrpc-gen` binary in those cases?  For instance, one might want to an alternative to the hard-coded `/rpc path` or similar.

[2022-10-10 21:01] pkieltyka commented on #109
Definitely. -target=<localpath> pointing at a directory of templates should also be valid

[2022-10-16 12:46] VojtechVitek commented on #22
Images can be represented by base64 encoded URL data scheme, ie. `data:image/png;base64,{BASE_64_DATA}`.

Were you thinking about some special webrpc data type that would do the binary-base64 conversion automatically?

[2022-10-16 22:31] pkieltyka commented on #108
thanks for heads up -- will review + fix soon

[2022-10-16 22:31] pkieltyka commented on #100
see https://github.com/goware/telemetry for some generic middleware for telemetry of net/http services, including webrpc

[2022-10-25 20:17] pkieltyka commented on #109
Done and tagged v0.6.1

[2022-10-25 20:17] #109 closed

[2022-10-26 14:45] #100 closed

[2022-10-26 14:51] pkieltyka commented on #67
hi there @g5becks -- thanks again for writing the dart support a long time ago. I'm not sure if you're still using webrpc, but I wanted to let you know about a really cool and improved design we added to webrpc-gen the other day.

As of v0.6.1 of webrpc-gen, the templates have actually been removed from the main cli and are no longer embedded in the binary. Instead, the language templates are stor

[2022-10-26 14:53] pkieltyka commented on #37
See https://github.com/webrpc/gen-openapi :)

[2022-10-26 14:59] VojtechVitek commented on #37
FYI, I recommend using https://github.com/webrpc/gen-openapi/tree/v0.6.0 tag.

I'm still iterating on the openapi generator and future webrpc-gen API and so the `master` branch is quite unstable right now.

[2022-10-26 15:14] pkieltyka opened #120 "post-gen formatter / cleanup"
it would be nice to have a post-gen formatter for arbitrary source that cleans generated code like the node server..

as you can see the ugly formatting at https://github.com/webrpc/webrpc/blob/master/_examples/node-ts/server/server.gen.ts

![image](https://user-images.githubusercontent.com/18831/198065400-beb0c853-44ec-428e-9b2d-bb1cde6e6d8d.png)

Maybe there is some Go community package out ther

[2022-10-26 18:22] OrenLeung commented on #100
Hi @pkieltyka Thanks for the follow-up! We ended up figuring it out for new relic and open telemetry at CohereAI.

Really appreciate the help!

[2022-10-27 13:44] pkieltyka opened #122 "value keyword idea / proposal"
It's convenient to use webrpc as a schema source of truth for types, but sometimes it's nice to do use it for simple constants / configs / values across clients.

I'm proposing a new "value" type,

## RIDL

[code]

## JSON

[code]

[2022-11-05 16:43] VojtechVitek commented on #67
Hi @g5becks, the new webrpc-gen template API v0.7.0 is in review: https://github.com/webrpc/webrpc/pull/119.

Docs: https://github.com/webrpc/webrpc/blob/008ee856b30184f1fc2ced154d2d6c3549b6b259/gen/README.md

If you decide to give it a try, feel free to DM me on Golang Slack for any questions/help :)

[2022-11-08 15:22] VojtechVitek commented on #122
OpenAPI has examples values that can be useful for documentation or for creating stub servers.

https://swagger.io/docs/specification/adding-examples/

I wonder if we could find an overlap between these two - example values vs. something that would make it to the generated code as constants too.

[2022-11-09 23:04] jeberly commented on #108
Sorry to bump this, we truly appreciate your work on webrpc. But have you been able to verify the problem on your end? Perhaps we are doing something wrong.

[2022-11-11 08:42] robfordww opened #127 "go.field.type not working as intended?"
This ridl-code:
[code]
generates the following go-code:
[code]
I thought it was supposed to result in the the forced "go type" `[]AlertDetails`, but it inserts an extra "`*`" here.   The whole purpose of using the `AlertL `structure was to avoid the "slice of pointers" problem, but that was unsuccessful.

I believe webrpc behaved different in v0.6 with -target=go

`webrpc-gen -schema=./rpc/app.rid

[2022-11-11 12:00] pkieltyka commented on #127
You’re correct, this is a regression @VojtechVitek

[2022-11-11 15:16] #127 closed

[2022-11-11 15:17] VojtechVitek commented on #127
Thanks for reporting this. Fixed in github.com/webrpc/gen-golang@v0.7.2.

https://github.com/webrpc/gen-golang/pull/3

[2022-11-11 16:40] VojtechVitek commented on #127
FYI, there are more fixes in github.com/webrpc/gen-golang@v0.7.3.

[2022-11-11 17:56] pkieltyka commented on #127
FYI, for usage.. you can do:

[code]

you can also omit the `@v0.7.3` and it will fetch from the master for templates, however, there is a 1 hour cache of the clone, so passing the version tag is helpful sometimes to be specific. You can also pass -refreshCache to fresh the cache.. but, dont do that every time or you will see you hit github rate limits which is why we have a cache :)

[2022-11-11 20:16] robfordww commented on #106
Kind of hacked it temporarily, while awaiting a nicer solution:

[code]

I have little clue of all consequences of this hack.  But it sure looks to me to generate data structures that are easier to populate with the existing data structures of my database.

[2022-11-12 12:20] pkieltyka commented on #106
keep an eye on https://github.com/webrpc/webrpc/pull/123 too -- this introduces webrpc v2 schema with a few changes and a new "alias" keyword

[2022-11-14 16:55] VojtechVitek commented on #108
I've upgraded the golang-basics example to chi v5 and it works as expected now. See #130

[2022-11-14 17:05] #108 closed

[2022-11-14 17:17] #37 closed

[2022-11-14 17:27] geokat commented on #108
Thank you so much!

[2022-11-14 18:47] VojtechVitek opened #132 "Schema Conformance/Interoperability Test Suite"
- [x] Create RIDL schema for the test suite (empty, echo, complex types)
- [x] Create a Go server that responds with static mock data
- [x] Create a Go client that makes pre-defined requests against a given URL
- [x] Adopt the test suite in https://github.com/webrpc/gen-golang
- [x] Adopt the test suite in https://github.com/webrpc/gen-typescript
- [ ] Adopt the test suite in https://github.com/we

[2022-11-14 19:14] jeberly commented on #108
Thank you!!

[2022-11-14 21:12] #74 closed

[2022-11-14 21:12] #104 closed

[2022-11-14 21:12] #105 closed

[2022-11-14 21:31] VojtechVitek commented on #74
Fixed in [github.com/webrpc/gen-golang@v0.7.4](https://github.com/webrpc/gen-golang/releases/tag/v0.7.4).

[2022-11-14 21:31] VojtechVitek commented on #104
Fixed in [github.com/webrpc/gen-golang@v0.7.4](https://github.com/webrpc/gen-golang/releases/tag/v0.7.4).

[2022-11-14 21:31] VojtechVitek commented on #105
Fixed in [github.com/webrpc/gen-golang@v0.7.4](https://github.com/webrpc/gen-golang/releases/tag/v0.7.4).

[2022-11-14 23:55] pkieltyka commented on #97
this is solved in schema v2 branch.

the new rules:
* 404 will return when the route is not found -- in general, we don't use this status code for much now in webrpc, the router above it should do this. Perhaps we could use it though if someone tries to query a rpc endpoint which doesn't exist, then return 404
* 400 is the default status code for any error, see https://github.com/webrpc/webrpc/blo

[2022-11-14 23:55] #97 closed

[2022-11-15 03:12] pkieltyka commented on #93
will be solved in v0.8

[2022-11-15 22:40] robfordww opened #135 "Possible error in Typescript definitions"
Using the latest versions (as far as I know), this RIDL:
[code]

results in  Go code like:

[code]

in typescript it looks like this (notice the casing):
[code]

The problem is that typescript interface does not match the json stream, so that` x.AlertID `gives nil, but` x.alertID` gives the right data, though is invalid according to typescript.

Is this intended behavior?

[2022-11-19 11:11] pkieltyka commented on #135
good catch.. there is definitely a bug here

[2022-11-19 13:19] #135 closed

[2022-11-19 18:57] VojtechVitek opened #141 "Proposal: Remove "json" meta for webrpc@v2"
I propose we remove the `+ json = {CUSTOM_JSON_FIELD_NAME}` meta for webrpc v2.

JSON is the core of webrpc and thus I don't see why we'd need different field names in RIDL vs. in JSON.

### 1. Field names over the wire (JSON)
Instead of being able to "overwrite" RIDL field names with `json` meta, why don't we simply rely on the RIDL field name itself?

Example:
[code]
would send
[code]

### 2. Cu

[2022-11-20 12:00] VojtechVitek commented on #132
Some ideas about the test suite:

## 1. Add official "webrpc-tests" binary
[code]
the program would import generated server/client code from `_examples/tests/`

## 2. Tests suite RIDL schema
- `_examples/tests/tests.ridl`
- `GetEmpty()` - send empty req/resp (no error)
- ... (more methods with `0..N` req args, `0..N` resp args)
- `GetError(code)` - send response with error with given status code
-

[2022-11-20 15:37] VojtechVitek opened #143 "Proposal: Represent int64 as BigInt in JavaScript/TypeScript"
`int64` is too big for JavaScript's `Number` type (IEEE-754 double-precision floating point).

JavaScript looses precision on values higher than `Number.MAX_SAFE_INTEGER` (9007199254740991) and rounds them up.
Technically, we could error out in JS runtime, if we notice values bigger than that if we decide to keep `Number`  in JS/TS generators.

### Current workarounds:
[code]

[code]

### Proposal

[2022-11-22 11:15] c2h5oh commented on #141
Counter argument: You already have the behavior you want if you don't use json meta and having the extra flexibility is nice.

Example uses:
- not forcing capitalized field names just because golang requires them to be public - yes you could override name just for golang, but how is it different from overriding it just for json?
- following conflicting coding guidelines (camel case in golang, snak

[2022-11-22 11:40] VojtechVitek commented on #141
Thanks for good feedback, @c2h5oh.

Golang generator already handles capitalization of the first letter for Go field names, no matter how the JSON field name looks like over the wire.

My thinking was that JSON field feels redundant to me. It changes not only how JSON looks over the wire, but also how fields are named in JS/TS.

Do you like camel_case? Why don't you use that in RIDL? Do you prefer

[2022-11-22 16:15] c2h5oh commented on #141
Well, JSON stands for Java Script Object Notation, I kind of expect it to affect JS/TS. If you want separation of concerns here then maybe the change should be to add `js.field.name` / `ts.field.name` etc support.

I can't see that not being both hard to implement and pain to use if you want to specify overrides for specific names.

[2022-11-25 12:08] VojtechVitek opened #148 "webrpc-gen fails to load templates on unknown template functions"
[code]

I thought we'd be able to require specific Template Functions API from within the templates & that's why we have introduced `minVersion .WebrpcGenVersion "v0.7.0"` function. However, it looks like Go templates look up all the functions up-front and fail early before even executing the template (no matter if the missing function would be executed or not).

We'll need to support this in some

[2022-11-25 12:12] VojtechVitek commented on #148
I think we could experiment with two more template entry-points:

- `"main"` for the code-generation
- `"help"` for printing help
- `"version"` for printing minimal required webrpc-gen version
- `"schema"` for printing required webrpc schema (v1 / v2 /...)

Instead of getting this generic error ` template: struct.go.tmpl:23: function "trimPrefix" not defined`, I'd expect webrpc-gen to print someth

[2022-11-28 11:16] VojtechVitek opened #153 "Proposal: webrpc-gen CLI v3"
Generate multiple targets in parallel from a single `webrpc-gen` command.

Usage: `webrpc-gen <schema.(ridl|json)> <target> [-targetOpts...] ... [<targetN> [-targetNOpts]...]`

Example:
[code]

- Opt-in feature
    - users can still execute one target only
    - we can support `-schema=` and `-target=` flags for backward compatibility
- Faster execution
     - parses RIDL/JSON only once for multip

[2022-11-29 22:58] vgough opened #154 "poor code generation: error helpers expanding strings unexpectedly"
Some of the generated error helpers take non-interpreted parameters and then pass them to a variadic helper which interprets the parameters.

For instance:
[code]

If the validation message contained any printf-style % interpreted variables, then Error would try to interpret them even though the signature for ErrorInvalidArgument doesn't allow for any parameter expansion.

The generated code shoul